{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="general-container">
        <div class="container d-grid gap-3 pb-4">
            <h2 class="text-center pb-4">{% trans "Lista de Áreas de Negocio" %}</h2>
            <div class="d-flex justify-content-between mb-2">
                <h2>{% trans "Gestiona Áreas de Negocio" %}</h2>
                <a  href="{% url 'create-areasdenegocio' business_id=business_id %}">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </a>
            </div>
            <div class="row">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th><a href="?order=empresa">{% trans 'Empresa' %}</a></th>
                            <th><a href="?order=area_negocio">{% trans 'Área de Negocio' %}</a></th>
                            <th><a href="?order=pais">{% trans 'País(es)' %}</a></th>
                            <th>{% trans 'Descripción' %}</th>
                            <th>{% trans 'Acciones' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for area in areasdenegocio %}
                        <tr>
                            <td>{{ area.id_empresa }}</td>
                            <td>{{ area.nombre }}</td>
                            <td>{{ area.pais }}</td>
                            <td>{{ area.descripcion }}</td>
                            <td class="d-flex">
                                <a href="{% url 'detail-areasdenegocio' business_id=business_id id=area.id %}" >
                                    <button type="button" class="mx-2 btn btn-info">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </a>
                                <a href="{% url 'edit-areasdenegocio' business_id=business_id id=area.id %}">
                                    <button type="button" class="mx-2 btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </a>
                                <a href="{%  url 'delete-areasdenegocio' business_id=business_id id=area.id %}">
                                    <button type="button" class="mx-2 btn btn-danger">
                                        <i class="bi bi-person-x"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}