{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% trans "No tiene" as default_value %}
    <div class="container">
        {% include "../../common/navigation-bar.html" with enlace=list_link %}
        <h2 class="text-center pb-4">{% trans "Información del Área de Negocio" %}</h2>
        <a class="btn btn-primary" href="{% url 'areasdenegocio' business_id=business_id %}">Volver</a>
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                {% if field.name == 'id_empresa' %}
                <div class="col-6">
                    <label class="form-label">{% trans field.label %}:</label>
                    <input 
                        type="{{ field.field.widget.input_type }}"
                        class="form-control" 
                        name="{{ field.name }}"
                        aria-describedby="helpId" 
                        placeholder="{{ field.label }}"
                        value="{{ nombre_empresa | default:default_value }}"
                        {% if field.value == '' %}
                            style="border-bottom: 1px solid red; color: red;"
                        {% endif %}
                        disabled
                    > 
                </div>
                {% else %}
                <div class="col-6">
                    <label class="form-label">{% trans field.label %}:</label>
                    <input 
                        type="{{ field.field.widget.input_type }}"
                        class="form-control" 
                        name="{{ field.name }}"
                        aria-describedby="helpId" 
                        placeholder="{{ field.label }}"
                        value="{{ field.value | default:default_value }}"
                        {% if field.value == '' %}
                            style="border-bottom: 1px solid red; color: red;"
                        {% endif %}
                        disabled
                    > 
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}